* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: hsl(0, 0%, 95%);
}

#container {
    border-radius: 10px;
    display: flex;
    /*max-width: ;*/
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}
.suvs {
    background-color: hsl(184, 100%, 22%);
}
.luxury {
    background-color: hsl(179, 100%, 13%);
}


.attribution {
    position: fixed;
    top: 95vh;
}